.form {
    max-width: 40rem;
    margin: 2rem auto;
}

.form label,
.form input {
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.25rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.actions button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: var(--color-gray-300);
    color: var(--color-gray-800);
    border: none;
}

.actions a {
    text-decoration: none;
    background-color: transparent;
    color: var(--color-gray-300);
}

.actions button:hover {
    background-color: var(--color-primary-300);
}

.actions a:hover {
background-color: var(--color-gray-800);
}